$colorMap: (
  pulse-blue: #043b6e,
  secondary-blue-1: #54a4d9,
  secondary-blue-2: #6fb2df,
  tertiary-orange: #f37b2c,
  error: #ea3a3d,
  success: #1ad598,
  warning: #f9b959,
  info: #0090ff,
  white: #fff,
  black: #000,
  black-alt: #000000a1,
  grey: #757575,
  shadow: #FFFFFF61,
  hover-blue: #607CB1,
  autofill-blue: rgb(220, 235, 260),
  blur: rgba(160, 210, 200, 0.15),
  blur-lighter: rgba(160, 180, 190, 0.32),
);
