@use "sass:map" as map;
@use "../../stylesheets/00_settings/util" as util;
@use "../../stylesheets/00_settings/color" as color;
@use "../../stylesheets/00_settings/radius" as radius;
@use "../../stylesheets/01_tools/mixin" as mixin;
@use "../../stylesheets/00_settings/config" as config;

.svg-icon {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;

  &--tiny {
    margin-top: util.rem(-2);
    max-height: util.rem(10);
  }

  & svg {
    min-height: util.rem(24);
    max-height: util.rem(24);
    margin-top: util.rem(2);
  }
}
