@use "sass:map" as map;
@use "../../../../stylesheets/color" as color;
@use "../../../../stylesheets/util" as util;
@use "../../../../stylesheets/radius" as radius;
@use "../../../../stylesheets/mixin" as mixin;
@use "../../../../stylesheets/config" as config;

.dashboard-email-readings {
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  width: 100%;
  height: 98%;

  &__container {
    margin: util.rem(10);
    width: 35%;
  }

  &__button-container {
    display: flex;
    justify-content: center;
    margin-top: util.rem(10);
  }
}
