@use "sass:map" as map;
@use "../../../stylesheets/00_settings/util" as util;
@use "../../../stylesheets/00_settings/color" as color;
@use "../../../stylesheets/00_settings/radius" as radius;
@use "../../../stylesheets/01_tools/mixin" as mixin;
@use "../../../stylesheets/00_settings/config" as config;

.button {
  white-space: nowrap;
  position: relative;
  color: map.get(color.$colorMap, white);
  background-color: map.get(color.$colorMap, pulse-blue);
  border-radius: map.get(radius.$border-radius, default);
  box-shadow: util.rem(1) util.rem(1) util.rem(1) map.get(color.$colorMap, pulse-blue),
  inset util.rem(1) util.rem(1) util.rem(1) map.get(color.$colorMap, blur-lighter);
  height: util.rem(30);
  padding: util.rem(2);
  width: 100%;

  label {
    font-size: util.bu(1.3);
  }

  &:hover {
    background-color: map.get(color.$colorMap, hover-blue);
  }

  &:active {
    position: relative;
    top: 0.8px;
  }

  & label:hover {
    cursor: pointer;
  }

  &--disabled {
    background-color: map.get(color.$colorMap, disabled);

    &:hover, label:hover {
      cursor: not-allowed;
    }
  }

  &--login {
    margin: util.rem(10) util.rem(0) util.rem(10) util.rem(0);
    height: util.rem(50);

    @include mixin.breakpoint(map.get(config.$breakpoints, small)) {
      height: util.rem(45);
    }
  }

  &--blue {
    background-color: map.get(color.$colorMap, pulse-blue);
  }

  &--white {
    background-color: map.get(color.$colorMap, white);

    label {
      color: map.get(color.$colorMap, black);
    }
  }

  &--spaced {
    margin: 0 util.rem(6) 0 util.rem(2);
  }

  &--icon {
    padding: util.rem(1);
    box-shadow: none;
    width: 40%;
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }

    label {
      color: map.get(color.$colorMap, black);
    }
  }
}
