@use "sass:map";
@use "../../../stylesheets/color" as color;
@use "../../../stylesheets/radius" as radius;
@use "../../../stylesheets/config" as config;
@use "../../../stylesheets/util" as util;
@use "../../../stylesheets/mixin" as mixin;

.spinner {
  display: flex;
  justify-content: center;

  &__container {
    position: absolute;
    box-shadow: 0 0 3px black, inset 0 0 3px grey;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    top: 85%;
    left: 86%;
    height: 12%;
    width: 11%;
    z-index: 20;

    &--entering {
      animation: enter-load .2s;
    }

    &--closing {
      animation: leave-load .2s;
      animation-fill-mode: forwards;
    }
  }

  @keyframes enter-load {

    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes leave-load {

    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;

    &__center {
      height: 10px;
      justify-content: center;
      align-content: center;
    }
  }
}

.lds-ellipsis {
  position: relative;
  margin-left: 3%;

  @include mixin.breakpoint(map.get(config.$breakpoints, large)) {
    margin-left: 15%;
  }

  @include mixin.breakpoint(map.get(config.$breakpoints, x-large)) {
    margin-left: 25%;
  }

  @include mixin.breakpoint(map.get(config.$breakpoints, xx-large)) {
    margin-left: 30%;
  }

  @include mixin.breakpoint(map.get(config.$breakpoints, xxx-large)) {
    margin-left: 35%;
  }
}

.lds-ellipsis div {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 40%;
  background: #043b6e;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
