@use "sass:map" as map;
@use "../../../stylesheets/color" as color;
@use "../../../stylesheets/util" as util;
@use "../../../stylesheets/radius" as radius;
@use "../../../stylesheets/mixin" as mixin;
@use "../../../stylesheets/config" as config;

.overview {

  &__mid-bar {
    display: flex;
    flex-direction: row;

    &__nav-link {
      display: flex;
      flex-direction: row;
      background-color: map.get(color.$colorMap, white);

      &--active {
        background-color: map.get(color.$colorMap, pulse-blue);
      }
    }

    & button {
      height: util.rem(45);
    }
  }
}
