@use "sass:map" as map;
@use "../../../../stylesheets/util" as util;
@use "../../../../stylesheets/color" as color;
@use "../../../../stylesheets/radius" as radius;
@use "../../../../stylesheets/mixin" as mixin;
@use "../../../../stylesheets/config" as config;

.text-input {
  width: 100%;
  padding: util.rem(4) util.rem(5) util.rem(2) util.rem(3);

  &--login {
    padding: util.rem(0);
  }

  &--left{
    display: flex;
  }

  &__label-container {

    &--login {
      display: flex;
      flex-direction: column;
      text-align: center;
      color: map.get(color.$colorMap, pulse-blue);
      margin-top: util.rem(6);
      min-width: util.rem(100);
    }

    &--left {
      display: flex;
      min-width: util.rem(160);
      text-align: left;
      margin-top: util.rem(5);
      flex-direction: row;
    }
  }

  &__input {
    width: 100%;
    text-align: left;
    margin: util.rem(4) util.rem(2) util.rem(4) util.rem(0.8);
    padding: 0 util.bu(1.5) 0 util.bu(0.8);
    border: util.rem(2) solid map.get(color.$colorMap, pulse-blue);
    border-radius: map.get(radius.$border-radius, default);
    font-family: Aller, serif;
    font-size: util.bu(2);

    input[type=number] {
      -moz-appearance: textfield;
    }

    input:-webkit-autofill {
      -webkit-box-shadow: inset 0 0 0 util.rem(100) map.get(color.$colorMap, autofill-blue);
    }

    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &--login {
      text-align: center;
      height: util.rem(38);

      @include mixin.breakpoint(map.get(config.$breakpoints, small)) {
        height: util.rem(35);
      }
    }
  }

  ::placeholder {
    font-size: util.rem(10);
  }
}
