@use "sass:map";
@use "../../../stylesheets/color" as color;
@use "../../../stylesheets/radius" as radius;
@use "../../../stylesheets/config" as config;
@use "../../../stylesheets/util" as util;
@use "../../../stylesheets/mixin" as mixin;

.content-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  &__screen {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 59px);
    width: 100%;

    &--dashboard {
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
      overflow-y: hidden;
      width: 100%;
    }
  }
}
