@use "sass:map" as map;
@use "../../../../stylesheets/00_settings/color" as color;
@use "../../../../stylesheets/00_settings/util" as util;
@use "../../../../stylesheets/00_settings/radius" as radius;
@use "../../../../stylesheets/01_tools/mixin" as mixin;
@use "../../../../stylesheets/00_settings/config" as config;

.recommendation-client-view {
  width: 100%;
  height: 90%;

  &__topbar {
    display: flex;
    flex-direction: row;
    margin-top: util.rem(5);
    margin-bottom: util.rem(5);
    max-width: 100%;
    align-items: center;

    &-left {
      display: flex;
      flex-direction: row;
      width: 60%;
      height: 100%;

      &-button {
        transform: translateX(10%);
        cursor: pointer;
      }

      &-no-button {
        width: util.rem(30);
        margin: 0 0 util.rem(32) util.rem(12);
      }

      p {
        margin: util.rem(6) 0 0 util.rem(-10);
        font-size: util.rem(14);
        font-weight: bold;
      }
    }

    &-right {
      display: flex;
      width: 40%;
      height: 100%;
    }

    &__search {
      width: 100%;
    }
  }

  &__scroll {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: auto;
    flex-direction: column;
  }
}
