@use "sass:map" as map;
@use "../../../../stylesheets/00_settings/color" as color;
@use "../../../../stylesheets/00_settings/util" as util;
@use "../../../../stylesheets/00_settings/radius" as radius;
@use "../../../../stylesheets/01_tools/mixin" as mixin;
@use "../../../../stylesheets/00_settings/config" as config;

.recommendation-client-view {
  overflow-x: scroll;
  height: 100%;
  width: 100%;
}
