@use "sass:map" as map;
@use "../../../stylesheets/util" as util;
@use "../../../stylesheets/color" as color;
@use "../../../stylesheets/radius" as radius;
@use "../../../stylesheets/mixin" as mixin;
@use "../../../stylesheets/config" as config;

.svg-icon {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;

  &:active {
    position: relative;
    top: 1px;
  }

  &--tiny {
    margin-top: util.rem(-2);
    max-height: util.rem(10);
  }

  &--small {
    max-width: util.rem(30);
  }

  &--profile {

    svg {
      height: 100px !important;
      width: 80px !important;
    }
  }

  &--battery {
    height: util.rem(22);
    transform: translateY(-19%);
  }
}

.svg {
  cursor: pointer;
  min-height: util.rem(24);
  max-height: util.rem(24);
  margin-top: util.rem(2);

  &--tall {
    cursor: pointer;
    min-height: util.rem(36);
    margin-top: util.rem(-4);
  }
}
