@use "sass:map" as map;
@use "../../../../stylesheets/util" as util;
@use "../../../../stylesheets/color" as color;
@use "../../../../stylesheets/radius" as radius;
@use "../../../../stylesheets/mixin" as mixin;
@use "../../../../stylesheets/config" as config;

.checkbox-input {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  user-select: none;
  width: 100%;

  &--left {
    margin-top: util.rem(8);
    flex-direction: row;
  }

  &__label-container {
    display: flex;
    align-items: flex-start;
    padding-left: util.rem(1);
    margin-top: util.rem(0);

    &--left {
      font-size: util.bu(2);
    }

    & label {
      margin-top: util.rem(2);
      cursor: pointer;
    }
  }

  &__input {
    display: flex;
    cursor: pointer;
    width: util.rem(12);
    height: util.rem(11);
    border: util.rem(1.2) solid map.get(color.$colorMap, white);
    border-radius: map.get(radius.$border-radius, medium);

    &:checked {
      animation: ripple 0.2s linear forwards;
      background-color: map.get(color.$colorMap, black);
    }

    &:hover {
      border: util.rem(2) solid map.get(color.$colorMap, secondary-blue-1);
    }

    &--left {
      margin-top: util.rem(6);
      margin-left: util.rem(87);
      border: util.rem(2) solid map.get(color.$colorMap, secondary-blue-1);
    }

    &--actual {
      border: util.rem(1.2) solid map.get(color.$colorMap, black);

      &:checked {
        animation: ripple 0.2s linear forwards;
        background-color: map.get(color.$colorMap, daily-ETO-green);
      }

      &:hover {
        border: util.rem(2) solid map.get(color.$colorMap, secondary-blue-1);
      }
    }

    &--forecast {
      border: util.rem(1.2) solid map.get(color.$colorMap, black);

      &:checked {
        animation: ripple 0.2s linear forwards;
        background-color: map.get(color.$colorMap, black);
      }

      &:hover {
        border: util.rem(2) solid map.get(color.$colorMap, secondary-blue-1);
      }
    }

    &--mm100 {
      border: util.rem(1.2) solid map.get(color.$colorMap, black);

      &:checked {
        animation: ripple 0.2s linear forwards;
        background-color: map.get(color.$colorMap, soiltemp-line-blue);
      }

      &:hover {
        border: util.rem(2) solid map.get(color.$colorMap, secondary-blue-1);
      }
    }

    &--mm200 {
      border: util.rem(1.2) solid map.get(color.$colorMap, black);

      &:checked {
        animation: ripple 0.2s linear forwards;
        background-color: map.get(color.$colorMap, soiltemp-line-orange);
      }

      &:hover {
        border: util.rem(2) solid map.get(color.$colorMap, secondary-blue-1);
      }
    }

    &--mm300 {
      border: util.rem(1.2) solid map.get(color.$colorMap, black);

      &:checked {
        animation: ripple 0.2s linear forwards;
        background-color: map.get(color.$colorMap, soiltemp-line-red);
      }

      &:hover {
        border: util.rem(2) solid map.get(color.$colorMap, secondary-blue-1);
      }
    }

    &--mm400 {
      border: util.rem(1.2) solid map.get(color.$colorMap, black);

      &:checked {
        animation: ripple 0.2s linear forwards;
        background-color: map.get(color.$colorMap, soiltemp-line-cyan);
      }

      &:hover {
        border: util.rem(2) solid map.get(color.$colorMap, secondary-blue-1);
      }
    }

    &--mm600 {
      border: util.rem(1.2) solid map.get(color.$colorMap, black);

      &:checked {
        animation: ripple 0.2s linear forwards;
        background-color: map.get(color.$colorMap, soiltemp-line-azure);
      }

      &:hover {
        border: util.rem(2) solid map.get(color.$colorMap, secondary-blue-1);
      }
    }

    &--mm800 {
      border: util.rem(1.2) solid map.get(color.$colorMap, black);

      &:checked {
        animation: ripple 0.2s linear forwards;
        background-color: map.get(color.$colorMap, soiltemp-line-green);
      }

      &:hover {
        border: util.rem(2) solid map.get(color.$colorMap, secondary-blue-1);
      }
    }

    &--canopy {
      border: util.rem(1.2) solid map.get(color.$colorMap, black);

      &:checked {
        animation: ripple 0.2s linear forwards;
        background-color: map.get(color.$colorMap, canopy-line-blue);
      }

      &:hover {
        border: util.rem(2) solid map.get(color.$colorMap, secondary-blue-1);
      }
    }

    &--outside {
      border: util.rem(1.2) solid map.get(color.$colorMap, black);

      &:checked {
        animation: ripple 0.2s linear forwards;
        background-color: map.get(color.$colorMap, canopy-line-orange);
      }

      &:hover {
        border: util.rem(2) solid map.get(color.$colorMap, secondary-blue-1);
      }
    }

    &--humidity {
      border: util.rem(1.2) solid map.get(color.$colorMap, black);

      &:checked {
        animation: ripple 0.2s linear forwards;
        background-color: map.get(color.$colorMap, canopy-line-orange);
      }

      &:hover {
        border: util.rem(2) solid map.get(color.$colorMap, secondary-blue-1);
      }
    }

    &--rain{
      border: util.rem(1.2) solid map.get(color.$colorMap, black);

      &:checked {
        animation: ripple 0.2s linear forwards;
        background-color: map.get(color.$colorMap, canopy-line-blue);
      }

      &:hover {
        border: util.rem(2) solid map.get(color.$colorMap, secondary-blue-1);
      }
    }
  }

  &__right-label {
    margin-top: util.rem(2);
    margin-left: util.rem(5);
  }
}

@keyframes ripple {

  0% {
    box-shadow: 0 0 0 util.rem(1) rgba(0, 0, 0, 0.0);
  }

  50% {
    box-shadow: 0 0 0 util.rem(5) rgba(0, 0, 0, 0.1);
  }

  100% {
    box-shadow: 0 0 0 util.rem(5) rgba(0, 0, 0, 0);
  }
}
