@use "sass:map" as map;
@use "../../../stylesheets/util" as util;
@use "../../../stylesheets/color" as color;
@use "../../../stylesheets/radius" as radius;
@use "../../../stylesheets/mixin" as mixin;
@use "../../../stylesheets/config" as config;

.dropdown {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &__popup {
    position: absolute;
    user-select: none;
    z-index: 10;
    font-size: util.rem(12);
    font-weight: normal;
    margin-left: util.rem(20);
    margin-top: util.rem(18);
    min-width: util.rem(80);
    border-radius: map.get(radius.$border-radius, small);
    padding: util.rem(10);
    color: map.get(color.$colorMap, black);
    box-shadow: util.rem(1) util.rem(1) util.rem(1) map.get(color.$colorMap, grey),
    inset util.rem(1) util.rem(1) util.rem(1) map.get(color.$colorMap, blur-lighter);
    background-color: map.get(color.$colorMap, light-mode-tooltip-white);
    white-space: nowrap;

    & div {

      > div {
        padding: util.rem(4);
      }

      > p {
        padding: util.rem(4);
        font-size: util.rem(12);
      }

      > input {
        margin-top: util.rem(4);
        margin-left: util.rem(5);
        max-width: 90%;
        border: util.rem(2) solid map.get(color.$colorMap, pulse-blue);
        padding: util.rem(3) util.rem(0) util.rem(3) util.rem(4);
        border-radius: map.get(radius.$border-radius, small);
        box-shadow: util.rem(1) util.rem(1) util.rem(1) map.get(color.$colorMap, grey),
        inset util.rem(1) util.rem(1) util.rem(1) map.get(color.$colorMap, blur-lighter);
        font-size: util.rem(12);
      }

      > hr {
        color: map.get(color.$colorMap, very-light-grey);
        margin: util.rem(3);
      }
    }

    &--left {
      margin-left: util.rem(-125);
    }

    &--mid {
      margin-top: util.rem(0.5);
    }

    &--period {
      margin-left: util.rem(-60);
    }

    &__extended {
      margin: util.rem(-10);

      > div {
        display: flex;
        flex-direction: row;
        margin-bottom: util.rem(-10);

        &:hover {
          background-color: map.get(color.$colorMap, row-hover-blue);
        }

        p {
          padding-left: util.rem(20);
          margin-top: util.rem(3.5);
          transform: translateX(-15%);
        }
      }
    }

    &--logout {
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 11;
      margin: util.rem(30) util.rem(1) util.rem(0) util.rem(-100);

      &-inner {
        width: 80%;

        & section {
          display: flex;
          justify-content: center;
          position: relative;
        }

        & p {
          display: flex;
          justify-content: center;
          font-size: util.rem(2);
        }
      }
    }
  }
}
