@use "sass:map" as map;
@use "../../../stylesheets/util" as util;
@use "../../../stylesheets/color" as color;
@use "../../../stylesheets/radius" as radius;
@use "../../../stylesheets/mixin" as mixin;
@use "../../../stylesheets/config" as config;

.graphic {
  display: flex;
  justify-content: center;

  &__img {
    max-width: 100%;

    @include mixin.breakpoint(map.get(config.$breakpoints, x-small)) {
      height: util.rem(80);
    }

    @include mixin.breakpoint(map.get(config.$breakpoints, small)) {
      height: util.rem(70);
    }

    @include mixin.breakpoint(map.get(config.$breakpoints, medium)) {
      height: util.rem(90);
    }

    @include mixin.breakpoint(map.get(config.$breakpoints, large)) {
      height: util.rem(120);
    }

    @include mixin.breakpoint(map.get(config.$breakpoints, x-large)) {
      height: util.rem(140);
    }
  }
}
