@use "sass:map" as map;
@use "../../../stylesheets/color" as color;
@use "../../../stylesheets/util" as util;
@use "../../../stylesheets/radius" as radius;
@use "../../../stylesheets/mixin" as mixin;
@use "../../../stylesheets/config" as config;

.chart {
  border-bottom-left-radius: map.get(radius.$border-radius, medium);
  border-bottom-right-radius: map.get(radius.$border-radius, medium);

  &__header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: util.rem(10);
    white-space: nowrap;
    user-select: none;

    &__container {
      margin-top: 2%;

      &--usage {
        @include mixin.breakpoint(map.get(config.$breakpoints, small)) {
          height: 12%;
          margin-top: 8%;
        }

        @include mixin.breakpoint(map.get(config.$breakpoints, medium)) {
          height: 10%;
          margin-top: 5.5%;
        }

        @include mixin.breakpoint(map.get(config.$breakpoints, large)) {
          height: 8%;
          margin-top: 5%;
        }

        @include mixin.breakpoint(map.get(config.$breakpoints, x-large)) {
          height: 8%;
          margin-top: 3%;
        }

        @include mixin.breakpoint(map.get(config.$breakpoints, xx-large)) {
          height: 6%;
          margin-top: 2%;
        }
      }
    }

    &__zoom-options {
      display: flex;
      position: relative;
      margin-left: util.rem(5);
      flex-direction: row;
      z-index: 5;
      width: 20%;

      &--left {

        &-top {
          display: flex;
          flex-direction: row;
          cursor: pointer;
          justify-content: center;
          margin-bottom: 1.8%;
          font-weight: bold;

          &__settings {
            margin-left: util.rem(4);
            width: util.rem(15);
            max-height: util.rem(12)
          }

          &__options {
            position: relative;
            margin-left: util.rem(4);
            max-height: util.rem(20);
            width: util.rem(20);

            &:active {
              position: relative;
              top: 0.9px;
            }
          }

          &-buttons {
            display: flex;
            width: util.rem(30);
            flex-direction: row;
          }
        }

        &-bottom {
          display: flex;
          flex-direction: row;
          cursor: pointer;
          justify-content: center;
          font-weight: bold;
          width: util.rem(30);
          margin-top: -1%;
          margin-bottom: 1.8%;
        }
      }
    }

    &__center-text {

      & p {
        font-weight: bold;
        font-size: util.rem(11) !important;
        margin-top: util.rem(1);
        padding-bottom: 10%;
      }
    }

    &__rain {
      padding-left: util.rem(104);

      &--top {
        font-weight: bold;
        padding-right: util.rem(10);
      }

      &--lower {
        color: transparent;
        user-select: none;
      }
    }

    &--top {
      background-color: map.get(color.$colorMap, chart-background-blue);
      border-top-left-radius: map.get(radius.$border-radius, medium);
      border-top-right-radius: map.get(radius.$border-radius, medium);
    }

    &--bottom {
      background-color: map.get(color.$colorMap, chart-background-green);
      border-top-left-radius: map.get(radius.$border-radius, medium);
      border-top-right-radius: map.get(radius.$border-radius, medium);
    }
  }

  &--top {
    background-color: map.get(color.$colorMap, chart-background-blue);
    margin-bottom: util.rem(5);
  }

  &--bottom {
    background-color: map.get(color.$colorMap, chart-background-green);
    border-bottom-left-radius: map.get(radius.$border-radius, medium);
    border-bottom-right-radius: map.get(radius.$border-radius, medium);
  }

  &__checkbox-filter {
    display: flex;
    position: relative;
    justify-content: center;

    &__inner {
      display: flex;
    }

    &--dailyETO {
      justify-content: center;
      transform: translateY(12px);
      height: 0;
    }

    &--temperatures {
      justify-content: center;
      transform: translateY(35px);
    }
  }
}

.tooltip-container {

  &__rect {
    border-radius: map.get(radius.$border-radius, large);
    -webkit-filter: drop-shadow(util.rem(1) util.rem(1) util.rem(1) rgba(0, 0, 0, .7));
    filter: drop-shadow(util.rem(1) util.rem(1) util.rem(1) rgba(0, 0, 0, .7));
  }
}
