$colorMap: (
  pulse-blue: #043b6e,
  secondary-blue-1: #54a4d9,
  secondary-blue-2: #6fb2df,
  secondary-blue-3: #1f20ff,
  tertiary-orange: #f37b2c,
  error: #ea3a3d,
  success: #1ad598,
  warning: #f9b959,
  info: #0090ff,
  field-name-blue: #0081ff,
  white: #fff,
  black: #000,
  black-alt: #000000a1,
  grey: #757575,
  shadow: #FFFFFF61,
  hover-blue: #607CB1,
  dark-mode-blue: #101733,
  dark-mode-white: linen,
  dark-mode-grey: #252529,
  dark-mode-grey-modal: #303040,
  light-mode-white: #F9F9F9,
  light-mode-tooltip-white: #F9F9F9,
  icon-warning-red: #EE9A94,
  selected-blue: #CCE8FF,
  row-hover-blue: #DBEFFF,
  climate-text-blue: #6495ED,
  camera-blue: #75B7E5,
  table-yellow-dark: #F7F2C5,
  table-yellow-light: #FFFCE5,
  table-yellow-fade: #D5EBF2,
  harvest-tractor-green: #C7DD9D,
  topbar-icon-blue: #53A5DF,
  autofill-blue: rgb(220, 235, 260),
  blur: rgba(160, 210, 200, 0.15),
  blur-lighter: rgba(160, 180, 190, 0.32),
  very-light-grey: #dad9d5,
  light-grey: #a9a9a9,
  clouded-grey: #C2C2C1,
  chart-background-blue: #ABD4EF,
  chart-background-green: #C1EAC7,
  chart-background-grey: rgba(100, 105, 130, 0.35)
);
