@use "../stylesheets/util" as utils;

$border-radius: (
  none: 0,
  small: utils.rem(3),
  medium: utils.rem(5),
  large: utils.rem(10),
  modal: utils.rem(15),
  login: utils.rem(20),
  default: utils.rem(2),
  spinner: utils.rem(100),
  circular: 50%,
);
