@use "sass:map" as map;
@use "../stylesheets/config" as config;
@use "../stylesheets/mixin" as mixins;
@use "../stylesheets/util" as util;
@use "../stylesheets/color" as color;

html.light {
  @apply bg-light-mode-white text-black transition duration-300;

  .input__input,
  .search__input,
  .search__icon {
    @apply bg-light-mode-white transition duration-300;
  }

  .input__wrapper input,
  .fields-overview,
  .table__body__row__td-upper {
    @apply transition duration-300;
  }

  .table__body__row__td-container--centered-last {
    @apply transition duration-300 text-secondary-blue-3;
  }

  .client-fields-side-bar__list__item__subheader--selected {
    @apply transition duration-300 bg-selected-blue;
  }

  .table__body__row__td--dark {
    @apply transition duration-1000 bg-table-yellow-dark;
  }

  .table__body__row__td--light {
    @apply transition duration-1000 bg-table-yellow-light;
  }

  .table__body__row__td--fade--thin,
  .table__body__row__td--fade {
    @apply transition duration-1000 bg-table-yellow-fade;
  }
}

html.dark {
  @apply bg-dark-mode-grey text-light-mode-white transition duration-300;

  .spinner__text {
    color: map.get(color.$colorMap, black);
  }

  .table__body__row--selected,
  .table__body__row:hover {
    border-bottom: util.rem(2) solid map.get(color.$colorMap, row-hover-blue);
    background-color: map.get(color.$colorMap, pulse-blue);
  }

  .field-setup-side-bar__list--client,
  .field-setup-side-bar__list {
    li {
      &:hover {
        border-bottom: util.rem(2) solid map.get(color.$colorMap, row-hover-blue);
        background-color: map.get(color.$colorMap, pulse-blue);
      }
    }
  }

  .button--selected {
    background-color: map.get(color.$colorMap, secondary-blue-1);

    label {
      color: map.get(color.$colorMap, white);
    }
  }

  .field-setup__scroll__list__item,
  .text-input--centered {
    border-bottom: util.rem(1) solid map.get(color.$colorMap, clouded-grey);
  }

  .search__input,
  .text-input__input {
    background-color: map.get(color.$colorMap, clouded-grey);
    color: black;
  }

  .top-bar__left__breadcrumb__container {

    p {
      color: map.get(color.$colorMap, clouded-grey);
    }
  }

  .text-input__input--login {
    background-color: map.get(color.$colorMap, light-mode-white);
    color: map.get(color.$colorMap, black);
  }

  .dashboard-overview__list__item__subheader:hover {
  }

  .overview__top-button__left-subheader:hover,
  .dashboard-overview__menu-one:hover,
  .dashboard-overview__menu-two:hover,
  .dashboard-overview__menu-three:hover,
  .field-setup-side-bar__list__item--selected,
  .client-fields-side-bar__list__item__subheader--selected,
  .client-fields-side-bar__list__item__subheader:hover {
    border-bottom: util.rem(2) solid map.get(color.$colorMap, row-hover-blue);
    background-color: map.get(color.$colorMap, pulse-blue);
  }

  .field-setup__scroll-icon-container {
    border: util.rem(2) solid map.get(color.$colorMap, clouded-grey);
  }

  .table__header {
    background-color: map.get(color.$colorMap, dark-mode-grey);
  }

  .table__body__row__td--dark {
    transition: 0.3s;
    background-color: map.get(color.$colorMap, blur);
  }

  .table__body__row__td--light {
    transition: 0.3s;
    background-color: map.get(color.$colorMap, shadow);
  }

  .table__body__row__td--fade--thin,
  .table__body__row__td--fade {
    transition: 0.3s;
    background-color: map.get(color.$colorMap, blur-lighter);
  }

  .table__body__row--header,
  .table__body__row__td-upper,
  .table__body__row__td-container--centered,
  .table__body__row__td-container--centered-last {
    transition: 0.3s;
    color: map.get(color.$colorMap, light-mode-white);
  }

  .input__label-container--login label {
    color: map.get(color.$colorMap, black);
  }

  .table__body__row--header {
    border-bottom: none;
    border-top: none;

    &:hover {
      border-bottom: none;
      border-top: none;
      background-color: transparent;
    }
  }

  .input__input,
  .search__input,
  .search__icon {
    transition: 0.3s;
    background-color: map.get(color.$colorMap, light-grey);
  }

  .input__input--login {
    background-color: map.get(color.$colorMap, light-mode-white);
  }

  .snack {
    background-color: map.get(color.$colorMap, dark-mode-grey);
  }

  .checkbox-input__input {
    border: util.rem(1.2) solid map.get(color.$colorMap, white);
  }

  .tooltip__popup {
    color: map.get(color.$colorMap, grey);
  }

  .client-fields-side-bar__list__item__subheader--selected {
    transition: 0.3s;
    background-color: map.get(color.$colorMap, hover-blue);
  }

  .input__wrapper input {
    transition: 0.6s;
    border: util.rem(2) solid map.get(color.$colorMap, black-alt);
    background-color: map.get(color.$colorMap, shadow);
  }

  .input__wrapper input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 util.rem(100) map.get(color.$colorMap, grey);
  }

  .login__button-group button {
    transition: 0.3s;
    background-color: map.get(color.$colorMap, pulse-blue);
  }

  .button--white {
    background-color: map.get(color.$colorMap, pulse-blue);

    & label {
      color: map.get(color.$colorMap, shadow);
    }
  }

  .recommendation-overview__menu-one:hover,
  .recommendation-overview__menu-two:hover,
  .recommendation-overview__menu-three:hover,
  .recommendation-overview__list__item__subheader:hover {
    background-color: map.get(color.$colorMap, pulse-blue);
  }

  .button--blue {
    background-color: map.get(color.$colorMap, pulse-blue);

    & label {
      color: map.get(color.$colorMap, shadow);
    }
  }

  .button--tab {
    background-color: map.get(color.$colorMap, dark-mode-grey);
    color: map.get(color.$colorMap, white);
  }

  .button--active {
    background-color: map.get(color.$colorMap, secondary-blue-1);
  }

  .email-modal,
  .recommendation-modal {
    box-shadow: util.rem(0) util.rem(0) util.rem(100) map.get(color.$colorMap, black-alt);
    background-color: map.get(color.$colorMap, dark-mode-grey);
    color: map.get(color.$colorMap, dark-mode-white);
    border: util.rem(0.5) solid transparent;
  }

  .radio-input__input {
    border: util.rem(1.2) solid map.get(color.$colorMap, topbar-icon-blue);
  }

  .chart__header__rain {
    color: map.get(color.$colorMap, black);
  }

  .button--white {

    &:hover {
      background-color: map.get(color.$colorMap, secondary-blue-1);
    }

    label {
      color: map.get(color.$colorMap, white);
    }
  }

  .field-chart__lower {
    background-color: map.get(color.$colorMap, chart-background-grey);
  }

  .chart__info {
    white-space: nowrap;
    width: 1%;
    opacity: 0.6;
  }

  .shimmer__comment {
    background-color: map.get(color.$colorMap, very-light-grey);
  }

  .shimmer__text {
    color: map.get(color.$colorMap, very-light-grey);
  }

  .dropdown__popup--settings,
  .field-charts-modal,
  .dropdown__popup--logout {
    transition: 0.3s;
    color: map.get(color.$colorMap, light-mode-white);
    background-color: map.get(color.$colorMap, dark-mode-grey);
    border: util.rem(1) solid map.get(color.$colorMap, white);
  }

  .field-chart__top-bar--right--datebar {
    > button {
      background-color: map.get(color.$colorMap, dark-mode-white);
    }
  }

  .checkbox-input__input--forecast {
    background-color: map.get(color.$colorMap, black);
    border: util.rem(1.2) solid map.get(color.$colorMap, white);

    &:checked {
      animation: ripple 0.2s linear forwards;
      background-color: map.get(color.$colorMap, white);
    }

    &:hover {
      border: util.rem(2) solid map.get(color.$colorMap, secondary-blue-1);
    }
  }

  .field-charts-modal {
    background-color: map.get(color.$colorMap, dark-mode-grey);
  }
}
