@use "sass:map" as map;
@use "../stylesheets/config" as config;
@use "../stylesheets/mixin" as mixins;
@use "../stylesheets/util" as util;
@use "../stylesheets/color" as color;

body.light-mode {
  background-color: map.get(color.$colorMap, light-mode-white);
  transition: 0.3s;

  .fields-overview {
    transition: 0.3s;
  }

  .input__input,
  .search__input,
  .search__icon {
    transition: 0.3s;
    background-color: map.get(color.$colorMap, light-mode-white);
  }

  .input__wrapper input {
    transition: 0.3s;
  }

  .table__header-row {
    transition: 0.3s;
    background-color: map.get(color.$colorMap, light-mode-white);
  }

  .table__body__row__td-upper {
    transition: 0.3s;
  }

  .table__body__row__td-container--centered-last {
    transition: 0.3s;
    color: map.get(color.$colorMap, secondary-blue-3);
  }

  .side-bar__list__item-subheader--selected {
    transition: 0.3s;
    background-color: map.get(color.$colorMap, selected-blue);
  }

  .table__body__row__td--dark {
    transition: 1s;
    background-color: map.get(color.$colorMap, table-yellow-dark);
  }

  .table__body__row__td--light {
    transition: 1s;
    background-color: map.get(color.$colorMap, table-yellow-light);
  }

  .table__body__row__td--fade--thin,
  .table__body__row__td--fade {
    transition: 1s;
    background-color: map.get(color.$colorMap, table-yellow-fade);
  }
}

body.dark-mode {
  transition: 0.3s;
  color: map.get(color.$colorMap, light-mode-white);
  background-color: map.get(color.$colorMap, dark-mode-grey);

  .spinner__text {
    color: map.get(color.$colorMap, black);
  }

  .table__body__row--selected,
  .table__body__row:hover {
    background-color: map.get(color.$colorMap, pulse-blue);
  }

  .table__body__row__td--dark {
    transition: 0.3s;
    background-color: map.get(color.$colorMap, blur);
  }

  .table__body__row__td--light {
    transition: 0.3s;
    background-color: map.get(color.$colorMap, shadow);
  }

  .table__body__row__td--fade--thin,
  .table__body__row__td--fade {
    transition: 0.3s;
    background-color: map.get(color.$colorMap, blur-lighter);
  }

  .table__body__row--header,
  .table__body__row__td-upper,
  .table__body__row__td-container--centered,
  .table__body__row__td-container--centered-last {
    transition: 0.3s;
    color: map.get(color.$colorMap, light-mode-white);
  }

  .input__label-container--login label {
    color: map.get(color.$colorMap, black);
  }

  .table__header-row {
    transition: 0.3s;
    background-color: map.get(color.$colorMap, dark-mode-grey);
  }

  .input__input,
  .search__input,
  .search__icon {
    transition: 0.3s;
    background-color: map.get(color.$colorMap, light-grey);
  }

  .input__input--login {
    background-color: map.get(color.$colorMap, light-mode-white);
  }

  .snack {
    background-color: map.get(color.$colorMap, dark-mode-grey);
  }

  .tooltip__popup {
    color: map.get(color.$colorMap, grey);
  }

  .side-bar__list__item__subheader--selected {
    transition: 0.3s;
    background-color: map.get(color.$colorMap, pulse-blue);
  }

  .input__wrapper input {
    transition: 0.6s;
    border: util.rem(2) solid map.get(color.$colorMap, black-alt);
    background-color: map.get(color.$colorMap, shadow);
  }

  .input__wrapper input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 util.rem(100) map.get(color.$colorMap, grey);
  }

  .login__button-group button {
    transition: 0.3s;
    background-color: map.get(color.$colorMap, pulse-blue);
  }

  .button--white {
    background-color: map.get(color.$colorMap, pulse-blue);

    & label {
      color: map.get(color.$colorMap, shadow);
    }
  }

  .recommendation-overview__menu-one:hover,
  .recommendation-overview__menu-two:hover,
  .recommendation-overview__menu-three:hover,
  .recommendation-overview__list__item__subheader:hover {
    background-color: map.get(color.$colorMap, pulse-blue);
  }

  .button--blue {
    background-color: map.get(color.$colorMap, pulse-blue);

    & label {
      color: map.get(color.$colorMap, shadow);
    }
  }

  .email-modal,
  .recommendation-modal {
    box-shadow: util.rem(0) util.rem(0) util.rem(100) map.get(color.$colorMap, black-alt);
    background-color: map.get(color.$colorMap, dark-mode-grey-modal);
    color: map.get(color.$colorMap, dark-mode-white);
    border: util.rem(0.5) solid transparent;
  }

  .radio-input__input {
    border: util.rem(1.2) solid map.get(color.$colorMap, topbar-icon-blue);
  }
}
