@use "../../../stylesheets/config" as config;
@use "../../../stylesheets/util" as utils;
@use "../../../stylesheets/mixin" as mixins;

.snack-bar {
  position: fixed;
  top: utils.rem(60);
  right: utils.bu(.5);
  transform: translateY(utils.bu(-3));
  min-width: utils.rem(300);
  max-width: utils.rem(300);
  z-index: 999;

  @include mixins.breakpoint(map-get(config.$breakpoints, small)) {
    top: utils.rem(100);
    min-width: utils.rem(350);
    max-width: utils.rem(450);
    right: utils.bu(1.5);
  }

  @include mixins.breakpoint(map-get(config.$breakpoints, large)) {
    transform: translateY(utils.bu(-4));
  }

  @include mixins.breakpoint(map-get(config.$breakpoints, x-large)) {
    transform: translateY(utils.bu(-3));
  }

  @include mixins.breakpoint(map-get(config.$breakpoints, small)) {
    top: utils.rem(100);
    min-width: utils.rem(350);
    max-width: utils.rem(450);
    right: utils.bu(1.5);
  }
}
