@use "sass:map" as map;
@use "../../../../stylesheets/color" as color;
@use "../../../../stylesheets/util" as util;
@use "../../../../stylesheets/radius" as radius;
@use "../../../../stylesheets/mixin" as mixin;
@use "../../../../stylesheets/config" as config;

.dashboard-last-readings {
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  width: 100%;
  height: 98%;

  &__container {
    display: flex;
    flex-direction: row;
    padding-bottom: util.rem(5);
    border-bottom: 1px solid black;

    > div {
      margin-left: util.rem(-5);
      margin-right: util.rem(40);
    }
  }
}
