@use "sass:map" as map;
@use "src/stylesheets/color" as color;
@use "src/stylesheets/util" as util;
@use "src/stylesheets/radius" as radius;
@use "src/stylesheets/mixin" as mixin;
@use "src/stylesheets/config" as config;

.dashboard-header {
  display: flex;
  border-bottom: 1px solid black;
  padding-bottom: util.rem(7);
  margin: util.rem(10);
  font-weight: bold;
  font-size: util.rem(20);
  user-select: none;
}
