@use "sass:map" as map;
@use "src/stylesheets/color" as color;
@use "src/stylesheets/util" as util;
@use "src/stylesheets/radius" as radius;
@use "src/stylesheets/mixin" as mixin;
@use "src/stylesheets/config" as config;

.dashboard-header {
  display: flex;
  margin: util.rem(5) util.rem(5) util.rem(5) util.rem(10);
  font-size: util.rem(20);
  user-select: none;
  white-space: nowrap;
}
