@use "sass:map" as map;
@use "../../../../stylesheets/color" as color;
@use "../../../../stylesheets/util" as util;
@use "../../../../stylesheets/radius" as radius;
@use "../../../../stylesheets/mixin" as mixin;
@use "../../../../stylesheets/config" as config;

.dashboard-overview {

  &__top-button {
    display: flex;
    flex-direction: row;
    height: util.rem(45);
    width: 100%;
    padding: util.rem(6);
    cursor: pointer;

    &__left {
      width: 75%;
      display: flex;
      flex-direction: column;
      white-space: nowrap;

      &-header {
        font-weight: bold;
        font-size: util.rem(20);
      }

      &-subheader {
        font-size: util.rem(12);
      }
    }

    &__right {
      display: flex;
      position: relative;
      flex-direction: row;
      width: 10%;

      &__very-satisfied,
      &__satisfied,
      &__neutral,
      &__dissatisfied,
      &__very-dissatisfied {
        position: relative;
      }
    }
  }

  &__menu {
    cursor: pointer;
    padding: util.rem(5);

    > div {
      font-size: util.rem(14);
      padding: util.rem(2);
    }

    &-one {
      &:hover {
        background-color: map.get(color.$colorMap, row-hover-blue);
      }
    }

    &-two {
      &:hover {
        background-color: map.get(color.$colorMap, row-hover-blue);
      }
    }

    &-three {
      &:hover {
        background-color: map.get(color.$colorMap, row-hover-blue);
      }
    }
  }

  &__list {
    display: flex;
    overflow: scroll;
    flex-direction: column;

    &__item {
      display: flex;
      flex-direction: column;
      margin-left: util.rem(5);

      &__header {
        display: flex;
        font-size: util.rem(16);
        padding-top: util.rem(2);
        border-bottom: util.rem(0.5) solid map.get(color.$colorMap, light-grey);
      }

      &__subheader {
        display: flex;
        flex-direction: row;
        height: util.rem(24);
        cursor: pointer;

        &:hover {
          border-bottom: util.rem(1) solid map.get(color.$colorMap, pulse-blue);
          background-color: map.get(color.$colorMap, row-hover-blue);
        }

        &__text {
          font-size: util.rem(16);
          width: 16%;
        }

        &__icon {
          position: relative;
          width: 84%;

          &__grid {
            display: table;
            border-collapse: collapse;
            margin: util.rem(2) util.rem(0) util.rem(5) util.rem(0);
            justify-content: left;

            &__frequency {

              &__container {
                position: relative;
                display: table-cell;
                background-clip: padding-box;
                text-align: center;
                max-width: util.rem(20);
              }
            }

            &__deficit {

              &__container {
                position: relative;
                display: table-cell;
                background-clip: padding-box;
                text-align: center;
                padding-top: util.rem(6);
                flex-direction: column;
                justify-content: center;
                position: relative;
                color: map.get(color.$colorMap, light-mode-white);
              }
            }

            &__reading {

              &__container {
                position: relative;
                display: table-cell;
                background-clip: padding-box;
                text-align: center;
                color: map.get(color.$colorMap, light-mode-white);
              }
            }
          }
        }
      }
    }
  }
}

.deficit-container {

  &__upper {
    display: flex;
    justify-content: center;
    border-top-left-radius: map.get(radius.$border-radius, small);
    border-top-right-radius: map.get(radius.$border-radius, small);
    font-size: util.rem(9);
    height: 50%;
    margin-right: util.rem(4);
    width: util.rem(20)
  }

  &__lower {
    display: flex;
    justify-content: center;
    border-bottom-left-radius: map.get(radius.$border-radius, small);
    border-bottom-right-radius: map.get(radius.$border-radius, small);
    font-size: util.rem(9);
    height: 50%;
    margin-right: util.rem(4);
    width: util.rem(20)
  }
}

.last-reading {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 90%;

  &__container {
    margin-top: util.rem(2);
    border-radius: map.get(radius.$border-radius, large);
    margin-right: util.rem(1);
    width: util.rem(23)
  }

  &__text {
    font-size: util.rem(10);
    padding: util.rem(3);
  }
}
