@use "sass:map" as map;
@use "../../../stylesheets/color" as color;
@use "../../../stylesheets/util" as util;
@use "../../../stylesheets/radius" as radius;
@use "../../../stylesheets/mixin" as mixin;
@use "../../../stylesheets/config" as config;

.client-fields-top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
  border-bottom: util.rem(1) solid;
  height: util.rem(58);
  max-width: 99.9%;

  & button {
    margin: util.rem(4);
  }

  &__left {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    width: 50%;
    height: 100%;

    @include mixin.breakpoint(map.get(config.$breakpoints, small)) {
      margin-right: 2%;
    }

    @include mixin.breakpoint(map.get(config.$breakpoints, medium)) {
      margin-right: 10%;
    }

    @include mixin.breakpoint(map.get(config.$breakpoints, large)) {
      margin-right: 16%;
    }

    @include mixin.breakpoint(map.get(config.$breakpoints, x-large)) {
      margin-right: 18%;
    }

    @include mixin.breakpoint(map.get(config.$breakpoints, xx-large)) {
      margin-right: 20%;
    }

    &-header {
      display: flex;
      margin-top: util.rem(2);
      margin-left: util.rem(2);
      width: 100%;

      & p {
        display: flex;
        align-items: center;
        margin-top: util.rem(2);
        font-size: util.rem(11);
      }
    }

    &-lower {
      display: flex;
    }
  }

  &__right {
    display: flex;
    align-items: flex-end;
    margin-left: 10%;
    width: 40%;
    height: 96%;

    @include mixin.breakpoint(map.get(config.$breakpoints, small)) {
      margin-left: 2%;
    }

    @include mixin.breakpoint(map.get(config.$breakpoints, medium)) {
      margin-left: 10%;
    }

    @include mixin.breakpoint(map.get(config.$breakpoints, large)) {
      margin-left: 16%;
    }

    @include mixin.breakpoint(map.get(config.$breakpoints, x-large)) {
      margin-left: 18%;
    }

    @include mixin.breakpoint(map.get(config.$breakpoints, xx-large)) {
      margin-left: 20%;
    }
  }
}

.field-charts-top-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  border-bottom: util.rem(1) solid;
  height: util.rem(58);
  max-width: 99.9%;

  &__header {
    display: flex;
    margin-top: util.rem(2);
    margin-left: util.rem(2);
    width: 100%;

    & p {
      display: flex;
      align-items: center;
      margin-top: util.rem(2);
      font-size: util.rem(11);
    }
  }

  &__lower {
    display: flex;
    justify-content: start;
    margin-top: util.rem(3);
    width: 100%;
  }
}
