@use "sass:map" as map;
@use "../../../stylesheets/color" as color;
@use "../../../stylesheets/util" as util;
@use "../../../stylesheets/radius" as radius;
@use "../../../stylesheets/mixin" as mixin;
@use "../../../stylesheets/config" as config;

.top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
  height: util.rem(50);
  margin-bottom: util.rem(4);
  border-bottom: util.rem(1) solid grey;
  max-width: 99.7%;

  & button {
    margin: util.rem(4);
  }

  &__left {
    display: flex;
    flex-direction: row;
    margin-right: 10%;
    width: 50%;
    height: 100%;

    @include mixin.breakpoint(map.get(config.$breakpoints, small)) {
      margin-right: 2%;
    }

    @include mixin.breakpoint(map.get(config.$breakpoints, medium)) {
      margin-right: 10%;
    }

    @include mixin.breakpoint(map.get(config.$breakpoints, large)) {
      margin-right: 16%;
    }

    @include mixin.breakpoint(map.get(config.$breakpoints, x-large)) {
      margin-right: 18%;
    }

    @include mixin.breakpoint(map.get(config.$breakpoints, xx-large)) {
      margin-right: 20%;
    }

    &__header {
      display: flex;
      margin: util.rem(2) 0 util.rem(2) util.rem(6);
      width: util.rem(150);
    }

    &__buttons {
      display: flex;
      margin-top: util.rem(8);
    }
  }

  &__right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 40%;
    height: 100%;

    &--menu {
      display: flex;
      position: relative;
      z-index: 11;
      cursor: pointer;
      height: util.rem(39);

      &:active {
        position: relative;
        top: 0.9px;
      }
    }

    @include mixin.breakpoint(map.get(config.$breakpoints, small)) {
      margin-left: 2%;
    }

    @include mixin.breakpoint(map.get(config.$breakpoints, medium)) {
      margin-left: 10%;
    }

    @include mixin.breakpoint(map.get(config.$breakpoints, large)) {
      margin-left: 16%;
    }

    @include mixin.breakpoint(map.get(config.$breakpoints, x-large)) {
      margin-left: 18%;
    }

    @include mixin.breakpoint(map.get(config.$breakpoints, xx-large)) {
      margin-left: 20%;
    }
  }
}
