@use "sass:map" as map;
@use "../../../stylesheets/00_settings/util" as util;
@use "../../../stylesheets/00_settings/color" as color;
@use "../../../stylesheets/00_settings/radius" as radius;
@use "../../../stylesheets/01_tools/mixin" as mixin;
@use "../../../stylesheets/00_settings/config" as config;

.table {
  display: table;
  border-collapse: collapse;
  margin: util.rem(5);
  width: 98.9%;

  &__header {
    position: sticky;
    border: util.rem(1) solid map.get(color.$colorMap, primary);
    background-color: map.get(color.$colorMap, white);
    z-index: 99;
    top: 0;

    &-row {

      th {
        padding: 0 util.rem(7);
        white-space: nowrap;
        cursor: pointer;
      }

      &__text {
        font-size: util.rem(12);

        @include mixin.breakpoint(map.get(config.$breakpoints, x-large)) {
          font-size: util.rem(12);
        }

        @include mixin.breakpoint(map.get(config.$breakpoints, xx-large)) {
          font-size: util.rem(16);
        }
      }
    }
  }

  &__body {
    flex-direction: column;

    &__row {
      border-bottom: util.rem(0.5) solid map.get(color.$colorMap, primary);

      td {
        position: relative;
        display: table-cell;
        text-align: center;
        white-space: nowrap;

        @include mixin.breakpoint(map.get(config.$breakpoints, small)) {
          max-height: util.rem(30);
          font-size: util.rem(11);
        }

        @include mixin.breakpoint(map.get(config.$breakpoints, medium)) {
          max-height: util.rem(31);
          font-size: util.rem(12);
        }

        @include mixin.breakpoint(map.get(config.$breakpoints, large)) {
          max-height: util.rem(32);
          font-size: util.rem(13);
        }

        @include mixin.breakpoint(map.get(config.$breakpoints, x-large)) {
          max-height: util.rem(33);
          font-size: util.rem(14);
        }

        @include mixin.breakpoint(map.get(config.$breakpoints, xx-large)) {
          max-height: util.rem(34);
          font-size: util.rem(15);
        }
      }

      &__td {

        &-container {
          display: flex;
          flex-direction: column;
          margin: util.rem(1) 0 util.rem(1.5) 0;

          &--centered {
            display: flex;
            justify-content: center;

            &-last {
              color: map.get(color.$colorMap, secondary-blue-3);
            }
          }
        }

        &-upper {
          display: flex;
          color: map.get(color.$colorMap, secondary-blue-3);
          height: 50%;

          &--deficit {
            font-weight: 500;
            color: map.get(color.$colorMap, light-mode-white);
            border-top-left-radius: map.get(radius.$border-radius, medium);
            border-top-right-radius: map.get(radius.$border-radius, medium);
          }
        }

        &-lower {
          display: flex;
          color: map.get(color.$colorMap, grey);
          font-size: util.rem(9);
          height: 50%;

          &--deficit {
            font-weight: 500;
            border-top: util.rem(0.1) solid map.get(color.$colorMap, shadow);
            color: map.get(color.$colorMap, light-mode-white);
            border-bottom-left-radius: map.get(radius.$border-radius, medium);
            border-bottom-right-radius: map.get(radius.$border-radius, medium);
          }
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
