@tailwind base;
@tailwind components;
@tailwind utilities;

.font-montserrat-light {
    font-family: 'Montserrat Light', sans-serif;
}

*, *::before, *::after {
    scrollbar-width: thin;
}

@media (max-width: 640px) { /* This media query corresponds to Tailwind's 'sm' breakpoint */
    .svg-scale-down {
        margin-left: -100px;
        transform: scale(0.25); /* Scale down to 50% of the original size */
    }
}
