@tailwind base;
@tailwind components;
@tailwind utilities;

.font-montserrat-light {
    font-family: 'Montserrat Light', sans-serif;
}

/* This is for Firefox */
* {
    scrollbar-width: thin;
}

/* This is for Chrome, Safari and Edge */
*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background: #888;
}

*::-webkit-scrollbar-thumb:hover {
    background: lightgrey;
}

@media (max-width: 640px) {
    .svg-scale-down {
        transform: scale(0.38);
    }
}

@media (min-width: 640px) {
    .svg-scale-down {
        margin-left: -20px;
        transform: scale(0.35);
    }
}

@media (min-width: 768px) {
    .svg-scale-down {
        margin-left: -20px;
        transform: scale(0.45);
    }
}

@media (min-width: 1024px) {
    .svg-scale-down {
        margin-left: -20px;
        transform: scale(0.55);
    }
}

@media (min-width: 1280px) {
    .svg-scale-down {
        margin-left: -20px;
        transform: scale(0.65);
    }
}

@media (min-width: 1536px) {
    .svg-scale-down {
        margin-left: -20px;
        transform: scale(0.85);
    }
}
